
#header {
	width: 100%;
	height: 50px;
}
#signIn{
	margin-left: 25px;
	height: 25px;
	float: right;
	border: 0px;
	background: transparent;
	color: white;
 
}
body{
	background-image: url("ImmersionMonkeyy.png");
	background-color: #87cefa;
	background-size: 110%;
	background-repeat: no-repeat;
}
	

